# Supabase local via `supabase start`
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=cole_a_anon_key_exibida_pelo_supabase_start
SUPABASE_SERVICE_ROLE_KEY=cole_a_service_role_key_exibida_pelo_supabase_start

# Prisma local via Supabase local
DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:54322/postgres?schema=public"
